<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyao.backend.dao.CommentDao">


    <!--结果集映射,将数据库中的列(column)映射为类中的字段(property)-->
    <resultMap id="BaseResultMap" type="com.wangyao.backend.bean.Comment">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="goodId" jdbcType="INTEGER" property="goodId" />
        <result column="userId" jdbcType="INTEGER" property="userId" />
        <result column="text" jdbcType="VARCHAR" property="text" />
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="date" jdbcType="DATE" property="date" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <association property="user" javaType="com.wangyao.backend.bean.User">
            <id column="userName" jdbcType="VARCHAR" property="userName"/>
            <result column="photo" jdbcType="INTEGER" property="photo"/>
        </association>
    </resultMap>
    <!--用于后面代替*的列表-->
    <sql id="Base_Column_List">
        c.`id`,`goodId`, userId,`text`,`score`, `date`,c.`type`,
        `userName`,`photo`

    </sql>
    <sql id="Comment_Join_Table">
        comment c
        LEFT OUTER JOIN user u on c.userId = u.id
    </sql>
    <insert id="insert" parameterType="com.wangyao.backend.bean.Comment"> --      prefix 前部添加,suffix后部添加,prefixOverrides 前部删除 suffixOverrides后部删除
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=0">
                id,
            </if>
            <if test="goodId != null">
                `goodId`,
            </if>
            <if test="userId != null">
                `userId`,
            </if>
            <if test="text != null">
                `text`,
            </if>
            <if test="score != null">
                `score`,
            </if>
            <if test="date != null">
                `date`,
            </if>
            <if test="type != null">
                `type`,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=0">
                #{id},
            </if>
            <if test="goodId != null">
                #{goodId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="text != null">
                #{text},
            </if>
            <if test="score != null">
                #{score},
            </if>
            <if test="date != null">
                #{date},
            </if>
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.wangyao.backend.bean.Comment">
        update comment
        <set>
            <if test="goodId != null">
                `goodId` = #{goodId},
            </if>
            <if test="userId != null">
                `userId` = #{userId},
            </if>
            <if test="text != null">
                `text` = #{text},
            </if>
            <if test="score != null">
                `score` = #{score},
            </if>
            <if test="date != null">
                `date` = #{date},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from comment
        where id = #{id}
    </delete>
    <select id="getCommentById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        From
        <include refid="Comment_Join_Table"></include>
        where id=#{id}
    </select>
    <select id="getAllComment" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        from
        <include refid="Comment_Join_Table"></include>
    </select>
    <select id="getAllCommentByGoodId" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        from
        <include refid="Comment_Join_Table"></include>
        where goodId=#{goodId}
    </select>

</mapper>