<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyao.backend.dao.PictureDao">


    <!--结果集映射,将数据库中的列(column)映射为类中的字段(property)-->
    <resultMap id="BaseResultMap" type="com.wangyao.backend.bean.Picture">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="src" jdbcType="VARCHAR" property="src" />
        <result column="type" jdbcType="INTEGER" property="type" />
    </resultMap>
    <!--用于后面代替*的列表-->
    <sql id="Base_Column_List">
        id,src,`type`
    </sql>
    <insert id="insert" parameterType="com.wangyao.backend.bean.Picture"
        useGeneratedKeys="true" keyProperty="id">
        --  用于回调Id useGeneratedKeys="true" keyProperty="id"
        --      prefix 前部添加,suffix后部添加,prefixOverrides 前部删除 suffixOverrides后部删除
        insert into picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=0">
                id,
            </if>
            <if test="src != null">
                `src`,
            </if>
            <if test="type != null">
                `type`,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=0">
                #{id},
            </if>
            <if test="src != null">
                #{src},
            </if>
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.wangyao.backend.bean.Picture">
        update picture
        <set>
            <if test="src != null">
                src = #{src},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from picture
        where id = #{id}
    </delete>
    <select id="getPictureById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        From
        picture
        where id=#{id}
    </select>
    <select id="getAllPicture" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        from picture
    </select>
    <insert id="insertPicsetByGoodIdAndPictureId" >
        insert into picset
            (goodId, picId)
        VALUES
            (#{goodId}, #{pictureId})
    </insert>
</mapper>