<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyao.backend.dao.UserAddressDao">


    <!--结果集映射,将数据库中的列(column)映射为类中的字段(property)-->
    <resultMap id="BaseResultMap" type="com.wangyao.backend.bean.UserAddress">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="userId" jdbcType="INTEGER" property="userId" />
        <result column="cityId" jdbcType="INTEGER" property="cityId" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />

    </resultMap>
    <!--用于后面代替*的列表-->
    <sql id="Base_Column_List">
            id,`userId`,`cityId`, detail,`name`,`type`
    </sql>
    <insert id="insert" parameterType="com.wangyao.backend.bean.UserAddress">
        --      prefix 前部添加,suffix后部添加,prefixOverrides 前部删除 suffixOverrides后部删除
        insert into userAddress
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=0">
                id,
            </if>
            <if test="userId != null">
                `userId`,
            </if>
            <if test="cityId != null">
                `cityId`,
            </if>
            <if test="detail != null">
                `detail`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="type != null">
                `type`,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=0">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="cityId != null">
                #{cityId},
            </if>
            <if test="detail != null">
                #{detail},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.wangyao.backend.bean.UserAddress">
        update userAddress
        <set>
            <if test="userId != null">
                `userId` = #{userId},
            </if>
            <if test="cityId != null">
                `cityId` = #{cityId},
            </if>
            <if test="detail != null">
                `detail` = #{detail},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from userAddress
        where id = #{id}
    </delete>
    <select id="getUserAddressById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        From
        userAddress
        where id=#{id}
    </select>
    <select id="getAllUserAddress" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        from userAddress
    </select>
    <select id="getAllUserAddressByUserId" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"></include>
        from userAddress
        where userId=#{userId}
    </select>

</mapper>